@font-face {
   font-family: 'Redaction_35-Regular';
   font-display: swap;
   src: url('Redaction_35-Regular/font.woff2');
}
@font-face {
   font-family: 'Redaction_20-Regular';
   font-display: swap;
   src: url('Redaction_20-Regular/font.woff2');
}
@font-face {
   font-family: 'Redaction-Regular';
   font-display: swap;
   src: url('Redaction-Regular/font.woff2');
}
