@font-face {
   font-family: 'Redaction-Regular';
   font-display: swap;
   src: url('file:///Users/anna/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-02-03_172554/fonts/Redaction-Regular/font.woff2');
}
